<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ explainer.data.title or title }} - Microsoft Edge Explainers</title>
    <link rel="stylesheet" href="/_includes/shared.css">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>